<% provide(:title, "Home") %>
<div class="row">
	<div class="large-12 columns panel text-center">

  <h1>Welcome to the AppFramework</h1><hr>
	<p><h3 class="subheader">
		This is the home page for the AppFramework
	</h3></p>

  <%= link_to "Sign up now!", signup_path, class: "button round" %>

	</div>
</div>