<% provide(:title, "Login") %>

<div class="row">
  <div class="large-6 large-centered columns text-center">

  	<h1>Login</h1>
  	<hr>
      <div class="text-left">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
<!--
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
-->
          <%= f.submit "Login", class: "button round" %>
        <% end %>

        <p>Forgot Password? <%= link_to "Reset password?", new_password_reset_path %><br/>
           New user? <%= link_to "Sign up now!", signup_path %></p>

      </div>
  </div>
</div>