<% provide(:title, "Reset password") %>

<div class="row">
  <div class="large-6 large-centered columns text-center">

  	<h1>Reset Password</h1>
  	<hr>
    <div class="text-left">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
	      <%= render 'shared/error_messages' %>

	      <%= hidden_field_tag :email, @user.email %>

	      <%= f.label :password %>
	      <%= f.password_field :password, class: 'form-control' %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation, class: 'form-control' %>

	      <%= f.submit "Update password", class: "button round" %>
	    <% end %>
    </div>
  </div>
</div>