<% provide(:title, "Forgot password") %>

<div class="row">
  <div class="large-6 large-centered columns text-center">

  	<h1>Forgot Password</h1>
  	<hr>
      <div class="text-left">
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
		      <%= f.label :email %>
		      <%= f.email_field :email, class: 'form-control' %>

		      <%= f.submit "Submit", class: "button round" %>
		    <% end %>

      </div>
  </div>
</div>