 <%= form_for(@user) do |f| %>
 
  	<%= render 'shared/error_messages' %>

    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: 'form-control' %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "button round" %>
<% end %>
