<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>

<div class="row">
  <div class="large-6 large-centered columns text-center">
    <h1>Update your profile</h1>
    <hr>
    <div class="text-left">

       <%= render 'form' %>

      <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>

    </div>
  </div>
</div>