<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @collection, renderer: FoundationPagination::Rails %>

<table role="grid">
<thead>
  <th>Gravatar</th>
  <th>Email</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Admin</th>
</thead>
<% @users.each do |user| %>
<tr>
  <td width="10px" height="10px"><%= gravatar_for user %></td>
  <td><%= link_to user.email, user %></td>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td>
   <td><%= raw prettyUpAdminRole(user.admin) %></td>
</tr>
<% end %>
</table> 

<%= will_paginate @collection, renderer: FoundationPagination::Rails %>