<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Create my account') %>

<div class="row">
  <div class="large-6 large-centered columns text-center">
  	<h1>Sign Up</h1>
  	<p>
  		<h5 class="subheader">
				Sign up for access to the best ...
			</h5>
		</p>
  	<hr>
    <div class="text-left">

     <%= render 'form' %>
      
    </div>
  </div>
