/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
}

.fullWidth {
   width: 98%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.fullWidthLogin {
   width: 100%;
   margin-left: 0rem;
   margin-right: 0rem;
   max-width: initial;
}

/* Literal.Number.Integer.Long */
.sidebar {
  background: #FAFAFA;
  padding: 0px 20px; 
}
