<footer class="footer">

  <div class="row">
    <div class="large-9 columns">
    <hr>
      <small>
        <p class="copyright">&copy; 2015 AppFramework, Inc. All rights reserved.</p>
      </small>
    </div>
    <div class="large-3 columns">
    <hr>
      <dl class="sub-nav">
        <dd class=""><%= link_to "About", about_path %></dd>
        <dd><%= link_to "Contact", contact_path %></dd>
      </dl>
    </div>
  </div>
  
</footer>