<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "AppFramework-Rails", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- BEGIN: Right Nav Section -->

    <ul class="right">
      <li class=""><%= link_to "Help", help_path %></li>
      <% if logged_in? %>
        <li class="has-dropdown">
          <a href="#"><%= current_user.email %></a>
          <ul class="dropdown">
            <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings",  edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
          </ul>
        </li>
        <% else %>
          <li class=""><%= link_to "Login", login_path %></li>
        <% end %>
    </ul>

    <!-- END: Right Nav Section -->

    <!-- BEGIN: Left Nav Section -->

    <ul class="left">
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
      <% end %>
    </ul>

    <!-- END: Left Nav Section -->

	</section>
</nav>