<div class="hide-for-small">
	<div class="sidebar">
		<nav>
		  <ul class="side-nav">
		    <li class="heading">Setup</li>
		    <li><a href="../index.html" data-search="">Getting Started</a></li>
		    <li><a href="../css.html" data-search="Styles">CSS</a></li>
		  </ul>
	  </nav>
	</div>
</div>