<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>

  <!-- Header -->
  <%= render 'layouts/header' %>

    <% if logged_in? %>
      <div class="row fullWidthLogin">
        <!-- Side Nav Section -->
     		<div class="large-3 medium-4 columns">
     			<%= render 'layouts/sidebar' %>
       	</div>
        <!-- Content (logged_in) -->
        <div class="large-9 columns">
    <% else %>
      <div class="row fullWidth">
        <!-- Content (not logged_in) -->
        <div class="large-12 columns">
    <% end %>
      <!-- Content -->
          <%= render 'layouts/flash_messages' %>
        	<%= yield %>
        	<%= render 'layouts/footer' %>
        	<%= debug(params) if Rails.env.development? %>
    		</div>
        
      </div>

  </body>
</html>
